[submodule "app/utils"]
	path = app/utils
	url = https://github.com/MDaniel592/utils
    branch = master
[submodule "app/stockfinder_models"]
	path = app/stockfinder_models
	url = https://github.com/MDaniel592/StockFinderModels
